<ul class="card-list">
  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2FRywwVYmZKPnHFAebMNAt%2Fb7229e8e-d326-4134-abc9-586f0fcc19c9.png?alt=media&token=fec57a02-a13a-461b-8690-f54160954554"
      />
      <div class="content">
        <h3>Salon Session: The Porous Pluriverse</h3>
        <p>Oct 27, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/RywwVYmZKPnHFAebMNAt"
          >See More</a
        >
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2FDho59VLtsybPOHwii1sF%2F304609a3-6821-4c81-b11f-e0346b200f04.png?alt=media&token=538d2a3e-e060-4e87-9a30-90d8065fdfef"
      />
      <div class="content">
        <h3>
          For Love, Legacy or Profit? Perspectives on Collecting Digital Art
        </h3>
        <p>Oct 24, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/Dho59VLtsybPOHwii1sF"
          >See More</a
        >
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2Fb3o53wbUcraepfLUc57O%2Fbanner.png?alt=media&token=c1c8f6eb-0cc9-4420-a01c-749c205c5c89"
      />
      <div class="content">
        <h3>Salon Welcome Event: Interactive Dinner</h3>
        <p>Oct 22, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/b3o53wbUcraepfLUc57O"
          >See More</a
        >
      </div>
    </div>
  </li>
</ul>
