body {
  --font-sans: Redaction;
  --font-serif: Redaction;
}

/* .gh-featured .gh-card-excerpt {
  font-family: var(--font-sans);
  color: red;
}

.has-serif-title .gh-topic-name {
  font-family: var(--font-serif);
}

.has-serif-title .gh-subscribe-title {
  font-family: var(--font-serif);
  letter-spacing: -0.01em;
} */

ul.card-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 32px 0;
  padding: 0 0;
  overflow-x: scroll;
  padding: 0 0 0 1rem;

  grid-column: full-start/full-end;
}

ul.card-list > li {
  padding: 0 12px 0 0;
  margin: 0 0;
}

ul.card-list > li > div.card {
  background-color: rgba(0, 0, 0, 0.014);
  border-radius: 9px;
  width: 33vw;
  height: 256px;
  overflow: hidden;
}

ul.card-list > li > div.card > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

ul.card-list > li > div.card > div.content > h3 {
  margin: 8px 4px 4px 4px;
  font-size: 16px;
}

ul.card-list > li > div.card > div.content > p,
ul.card-list > li > div.card > div.content > a {
  margin: 4px 8px;
  font-size: 12px;
}

ul.card-list > li > div.card > div.content > p {
  float: left;
}

ul.card-list > li > div.card > div.content > a {
  float: right;
}
