body {
  --font-sans: Redaction;
  --font-serif: Redaction;
}

article.gh-latest.gh-card a.gh-btn {
  margin: 32px 0;
}

ul.card-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 32px 0;
  padding: 0 0;
  overflow-x: scroll;
  padding: 0 0 0 1rem;

  grid-column: full-start/full-end;
}

ul.card-list > li {
  padding: 0 12px 0 0;
  margin: 0 0;
}

ul.card-list > li > div.card {
  background-color: #fbfbfb;
  border-radius: 0px;
  width: 33vw;
  height: 256px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  ul.card-list > li > div.card {
    width: 50vw;
    height: 320px;
  }
}

ul.card-list > li > div.card > img {
  width: 100%;
  object-fit: cover;
}

ul.card-list > li > div.card > div.content {
}

ul.card-list > li > div.card > div.content > h3 {
  margin: 8px 4px 4px 4px;
  font-size: 16px;
}

ul.card-list > li > div.card > div.content > p,
ul.card-list > li > div.card > div.content > a {
  margin: 4px 8px;
  font-size: 12px;
}

ul.card-list > li > div.card > div.content > p {
  float: left;
}

ul.card-list > li > div.card > div.content > a {
  float: right;
}
